node_modules
.DS_STORE

snarkjs/circuits/*/compile/

snarkjs/circuits/*/proofs/*/private/*
!snarkjs/circuits/*/proofs/*/private/input.json
snarkjs/pot/

nexus/circuits/*/.cargo
nexus/circuits/*/target
nexus/circuits/*/nexus-proof